@media (min-width: 1200px) {
  .banner {
    height: 100vh;
  }
  
  .banner .content {
    max-width: 520px;
    margin-left: 40px;
  }
  
  .movie-title h2 {
    font-size: 60px;
  }
  
  .banner .carousel-box {
    min-width: 600px;
    right: 80px;
  }
  
  .movie-list {
    padding: 12px 20px;
    gap: 14px;
  }
  
  .movie-box {
    width: 210px;
    height: 380px;
  }

  .movie-list.random{
    display: flex;
    justify-content: space-around;
  }
}