.js-banner {
  min-height: 500px;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  position: relative;
  display: flex;
  align-items: center;
}

.js-banner .content-box {
  z-index: 2;
}

.banner{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(https://phimimg.com/upload/vod/20250425-1/ff300b38850fa8687195369269bc306a.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1;
}

.banner::before{
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: 
  linear-gradient(to right, 
    rgba(0, 0, 0, 0.5) 0%, 
    rgba(0, 0, 0, 0.5) 20%, 
    rgba(0, 0, 0, 0.0) 60%, 
    rgba(0, 0, 0, 0.0) 100%
  ),
  linear-gradient(to bottom,
    rgba(0, 0, 0, 0.4) 0%, 
    rgba(0, 0, 0, 0.0) 30%, 
    rgba(0, 0, 0, 0.0) 70%, 
    rgba(0, 0, 0, 0.6) 100%
  );
}

.banner::after {
content: '';
position: absolute;
bottom: -1px;
left: 0;
right: 0;
height: 80px;
background: linear-gradient(to bottom, rgba(22, 20, 23, 0) 0%, rgba(0,0,0,0.2) 50%, #17191d 100%);
pointer-events: none;
z-index: 2;
}

.sci {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: inline-flex;
  justify-content: center;
  align-tracks: center;
  gap: 25px;
}

.sci a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1;
  font-size: 25px;
  transition: 0.3s;
  cursor: pointer;
}

.sci a:hover{
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


