.right-box{
  height: auto;
  width: 70vw;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 20px;
}

.title-right-box{
  padding-top: 6px;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: 14px;
}

.title-right-box p{
  font-family: Oswald;
  letter-spacing: 1.5px;
  font-size: 40px;
  color: white;
}

.title-right-box span{
  font-family: Poppins;
  font-size: 30px;
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.genre-right-box{
  padding: 20px 0px;
  max-height: 200px;
  width: 100%;
  border-bottom: 1px solid rgb(75, 75, 75);
  padding-bottom: 40px;
}

.genre p{
  color: rgb(125, 125, 125);
  font-size: 16px;
  margin-bottom: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.genre span{
  color: rgb(229, 229, 229);
  font-weight: 500;
}

.episode-right-box{
  height: 240px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-episode-list{
  height: 40px;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.title-episode-list div:first-child{
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.status.complite{
  font-size: 14px;
  color: rgb(19, 215, 19);
  display: flex;
  align-items: center;
  background-color: rgba(17, 196, 50, 0.5);
  padding: 4px 8px;
  border-radius: 14px;
}

/*.status.ongoing{
  font-size: 14px;
  color: rgb(252, 137, 6);
  display: flex;
  align-items: center;
  background-color: rgba(202, 108, 14, 0.5);
  padding: 4px 8px;
  border-radius: 14px;
}*/

.title-episode-list span{
  padding-right: 6px;
  font-size: 14px;
}

.list-episode-box{
  height: 190px;
  width: 100%;
  border-radius: 18px;
  padding: 6px;
  border: 1px solid rgb(28, 28, 28);
  box-shadow:inset 0 0 14px rgba(87, 87, 87, 0.3);
}

.season-movie{
  display: flex;
  height: 32px;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  cursor: pointer;
  transition: 0.15s;
}

.season-movie p{
  color: white;
  padding: 4px 0px 4px 12px;
}

.season-movie p:first-child{
  font-size: 18px;

}

.season-movie p:last-child{
  font-size: 14px;
  border-left: 1px solid rgb(211,211,211);

}

.season-movie span{
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 8px;
}

.episode-list{
  max-height: 132px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  flex-direction: row !important;
  gap: 12px;
  overflow-y: auto;
}

.episode-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.episode-list div{
  background-color: rgba(107, 103, 125, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 140px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.15s;
}


.episode-list div a{
  color: white;
  text-decoration: none;
}

.episode-list div:hover a{
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.episode-list div a i{
  margin-right: 10px;
  font-size: 14px;
}